body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

h1 {
    color: forestgreen;
}

label {
    display: block;
    padding: 5px;
}

button {
    color: white;
    background: forestgreen;
    padding: 5px;
}